<?xml version="1.0" encoding="UTF-8" ?>
<CONFIG>
    <DOBCOUNTRIES>
        <COUNTRY>
            <NAME>Papua New Guinea</NAME>
            <CODE>342</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cambodia</NAME>
            <CODE>256</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>China (Macao SAR)</NAME>
            <CODE>198</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Heard and MacDonald Islands</NAME>
            <CODE>410</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Wales</NAME>
            <CODE>008</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>England</NAME>
            <CODE>002</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kazakhstan</NAME>
            <CODE>053</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Paraguay</NAME>
            <CODE>755</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Syria</NAME>
            <CODE>210</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bahamas</NAME>
            <CODE>622</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Solomon Islands</NAME>
            <CODE>824</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Montserrat</NAME>
            <CODE>627</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Unknown</NAME>
            <CODE>000</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bonaire, Sint Eustatius, Saba</NAME>
            <CODE>402</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mali</NAME>
            <CODE>173</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Marshall Islands</NAME>
            <CODE>834</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guadeloupe</NAME>
            <CODE>653</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Panama</NAME>
            <CODE>547</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Czechoslovakia</NAME>
            <CODE>014</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint-Barthelemy</NAME>
            <CODE>407</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Democratic Rep. of Congo</NAME>
            <CODE>158</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Laos</NAME>
            <CODE>260</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Argentina</NAME>
            <CODE>703</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Falkland Islands</NAME>
            <CODE>912</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Seychelles</NAME>
            <CODE>904</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Belize</NAME>
            <CODE>541</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Zambia</NAME>
            <CODE>112</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bahrain</NAME>
            <CODE>253</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guinea-Bissau</NAME>
            <CODE>167</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>South Africa, Republic Of</NAME>
            <CODE>121</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Namibia</NAME>
            <CODE>122</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Comoros</NAME>
            <CODE>905</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Faroe Islands</NAME>
            <CODE>408</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Finland</NAME>
            <CODE>021</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Georgia</NAME>
            <CODE>052</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint Kitts and Nevis</NAME>
            <CODE>629</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Yemen</NAME>
            <CODE>273</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Netherlands Antilles, The</NAME>
            <CODE>652</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Eritrea</NAME>
            <CODE>162</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Puerto Rico</NAME>
            <CODE>656</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Aruba</NAME>
            <CODE>658</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Madagascar</NAME>
            <CODE>172</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ivory Coast</NAME>
            <CODE>169</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Libya</NAME>
            <CODE>171</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sweden</NAME>
            <CODE>040</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Malawi</NAME>
            <CODE>111</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Andorra</NAME>
            <CODE>082</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Liechtenstein</NAME>
            <CODE>086</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Poland</NAME>
            <CODE>033</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bulgaria</NAME>
            <CODE>083</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Jordan</NAME>
            <CODE>225</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tunisia</NAME>
            <CODE>135</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>St. Vincent and the Grenadines</NAME>
            <CODE>631</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Channel Islands</NAME>
            <CODE>009</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tuvalu</NAME>
            <CODE>826</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>United Arab Emirates</NAME>
            <CODE>280</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kenya</NAME>
            <CODE>132</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>French Polynesia</NAME>
            <CODE>845</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Djibouti</NAME>
            <CODE>183</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Lebanon</NAME>
            <CODE>208</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Azerbaijan</NAME>
            <CODE>050</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cuba</NAME>
            <CODE>650</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Czech Republic</NAME>
            <CODE>015</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mauritania</NAME>
            <CODE>174</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint Lucia</NAME>
            <CODE>630</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guernsey</NAME>
            <CODE>409</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mayotte</NAME>
            <CODE>906</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Israel</NAME>
            <CODE>206</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>San Marino</NAME>
            <CODE>089</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Australia</NAME>
            <CODE>305</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tajikistan</NAME>
            <CODE>057</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cameroon</NAME>
            <CODE>155</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Gibraltar</NAME>
            <CODE>084</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cyprus</NAME>
            <CODE>221</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Northern Mariana Islands</NAME>
            <CODE>830</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Malaysia</NAME>
            <CODE>242</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Aland Island</NAME>
            <CODE>401</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Iceland</NAME>
            <CODE>085</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Oman</NAME>
            <CODE>263</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Armenia</NAME>
            <CODE>049</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Gabon</NAME>
            <CODE>163</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Yugoslavia</NAME>
            <CODE>044</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Nevis</NAME>
            <CODE>628</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Luxembourg</NAME>
            <CODE>013</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Brazil</NAME>
            <CODE>709</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Turks and Caicos Islands</NAME>
            <CODE>632</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Algeria</NAME>
            <CODE>131</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Wallis and Futuna Is., Terr.</NAME>
            <CODE>841</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cabo Verde</NAME>
            <CODE>911</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Slovenia</NAME>
            <CODE>047</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Colombia</NAME>
            <CODE>722</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ecuador</NAME>
            <CODE>753</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Moldova</NAME>
            <CODE>055</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Vanuatu</NAME>
            <CODE>823</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bailwick of Jersey</NAME>
            <CODE>412</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Honduras</NAME>
            <CODE>545</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Italy</NAME>
            <CODE>028</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Burma (Myanmar)</NAME>
            <CODE>241</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Nauru</NAME>
            <CODE>341</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>U.S. Minor outlying Islands</NAME>
            <CODE>418</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Haiti</NAME>
            <CODE>654</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Afghanistan</NAME>
            <CODE>252</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Burundi</NAME>
            <CODE>154</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Singapore</NAME>
            <CODE>246</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>French Guiana</NAME>
            <CODE>754</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Federated States of Micronesia</NAME>
            <CODE>835</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Christmas Island</NAME>
            <CODE>405</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Scotland</NAME>
            <CODE>007</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Russia</NAME>
            <CODE>056</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>China</NAME>
            <CODE>202</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Martinique</NAME>
            <CODE>655</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sint-Maarten</NAME>
            <CODE>416</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint Pierre and Miquelon</NAME>
            <CODE>531</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kyrgyzstan</NAME>
            <CODE>054</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bhutan</NAME>
            <CODE>254</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Romania</NAME>
            <CODE>088</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Togo</NAME>
            <CODE>187</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Philippines</NAME>
            <CODE>227</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Uzbekistan</NAME>
            <CODE>060</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>British Virgin Islands</NAME>
            <CODE>633</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Zimbabwe</NAME>
            <CODE>113</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>British Indian Ocean Territory</NAME>
            <CODE>404</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Germany, Federal Republic Of</NAME>
            <CODE>024</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Montenegro</NAME>
            <CODE>063</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Dominica</NAME>
            <CODE>625</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Indonesia</NAME>
            <CODE>222</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Benin</NAME>
            <CODE>160</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Fr. South. and Antarctic Lands</NAME>
            <CODE>821</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Angola</NAME>
            <CODE>151</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>East Timor</NAME>
            <CODE>916</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sudan</NAME>
            <CODE>185</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Brunei Darussalam</NAME>
            <CODE>255</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Portugal</NAME>
            <CODE>034</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>New Caledonia</NAME>
            <CODE>822</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Grenada</NAME>
            <CODE>626</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cayman Islands</NAME>
            <CODE>624</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Greece</NAME>
            <CODE>025</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Netherlands, The</NAME>
            <CODE>031</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Latvia</NAME>
            <CODE>019</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mongolia</NAME>
            <CODE>262</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Iran</NAME>
            <CODE>223</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Morocco</NAME>
            <CODE>133</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guatemala</NAME>
            <CODE>544</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guyana</NAME>
            <CODE>711</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Iraq</NAME>
            <CODE>224</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Chile</NAME>
            <CODE>721</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>China (Hong Kong SAR)</NAME>
            <CODE>200</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Nepal</NAME>
            <CODE>264</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint-Martin</NAME>
            <CODE>415</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Isle of Man</NAME>
            <CODE>411</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tanzania</NAME>
            <CODE>130</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ukraine</NAME>
            <CODE>059</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Curaçao</NAME>
            <CODE>406</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ghana</NAME>
            <CODE>165</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Anguilla</NAME>
            <CODE>620</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Northern Ireland</NAME>
            <CODE>006</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Serbia, Republic Of</NAME>
            <CODE>062</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>India</NAME>
            <CODE>205</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Canada</NAME>
            <CODE>511</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Republic of Palau</NAME>
            <CODE>836</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Maldives</NAME>
            <CODE>901</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Serbia And Montenegro</NAME>
            <CODE>061</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Turkey</NAME>
            <CODE>045</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Belgium</NAME>
            <CODE>012</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Taiwan</NAME>
            <CODE>203</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Trinidad and Tobago</NAME>
            <CODE>605</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bermuda</NAME>
            <CODE>601</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Central African Republic</NAME>
            <CODE>157</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Jamaica</NAME>
            <CODE>602</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Peru</NAME>
            <CODE>723</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Turkmenistan</NAME>
            <CODE>058</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Vatican City State</NAME>
            <CODE>090</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Fiji</NAME>
            <CODE>801</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tokelau</NAME>
            <CODE>417</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Hong Kong</NAME>
            <CODE>204</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guinea</NAME>
            <CODE>166</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Chad</NAME>
            <CODE>156</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Somalia</NAME>
            <CODE>182</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sao Tome and Principe</NAME>
            <CODE>914</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tibet (Autonomous Region)</NAME>
            <CODE>268</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Pitcairn Islands</NAME>
            <CODE>842</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Thailand</NAME>
            <CODE>267</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Equatorial Guinea</NAME>
            <CODE>178</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kiribati</NAME>
            <CODE>831</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Costa Rica</NAME>
            <CODE>542</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Vietnam</NAME>
            <CODE>270</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kuwait</NAME>
            <CODE>226</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Nigeria</NAME>
            <CODE>177</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Croatia</NAME>
            <CODE>043</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Cook Islands</NAME>
            <CODE>840</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sri Lanka</NAME>
            <CODE>201</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Uruguay</NAME>
            <CODE>724</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Switzerland</NAME>
            <CODE>041</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Palestinian Authority</NAME>
            <CODE>213</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Samoa</NAME>
            <CODE>844</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Republic of Congo</NAME>
            <CODE>159</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Spain</NAME>
            <CODE>037</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Liberia</NAME>
            <CODE>170</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Venezuela</NAME>
            <CODE>725</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Burkina Faso</NAME>
            <CODE>188</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Madeira</NAME>
            <CODE>036</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Virgin Islands, U.S.</NAME>
            <CODE>657</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Swaziland</NAME>
            <CODE>186</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Estonia</NAME>
            <CODE>018</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Niue</NAME>
            <CODE>414</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Austria</NAME>
            <CODE>011</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Canary Islands</NAME>
            <CODE>039</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Korea, North (DPRK)</NAME>
            <CODE>257</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Samoa, American</NAME>
            <CODE>843</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mozambique</NAME>
            <CODE>175</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>El Salvador</NAME>
            <CODE>543</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Monaco</NAME>
            <CODE>087</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Guam</NAME>
            <CODE>832</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Lesotho</NAME>
            <CODE>152</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Tonga</NAME>
            <CODE>846</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Western Sahara</NAME>
            <CODE>184</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Hungary</NAME>
            <CODE>026</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Réunion</NAME>
            <CODE>903</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>South Sudan</NAME>
            <CODE>189</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Japan</NAME>
            <CODE>207</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Belarus</NAME>
            <CODE>051</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mauritius</NAME>
            <CODE>902</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bouvet Island</NAME>
            <CODE>403</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Albania</NAME>
            <CODE>081</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>New Zealand</NAME>
            <CODE>339</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Senegal</NAME>
            <CODE>180</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Macedonia</NAME>
            <CODE>070</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ethiopia</NAME>
            <CODE>161</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Korea, South</NAME>
            <CODE>258</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>United States of America</NAME>
            <CODE>461</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Egypt</NAME>
            <CODE>101</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Sierra Leone</NAME>
            <CODE>181</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bolivia</NAME>
            <CODE>751</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Malta</NAME>
            <CODE>030</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saudi Arabia</NAME>
            <CODE>231</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Pakistan</NAME>
            <CODE>209</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Kosovo</NAME>
            <CODE>064</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Gambia</NAME>
            <CODE>164</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Ireland</NAME>
            <CODE>027</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Qatar</NAME>
            <CODE>265</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Slovakia</NAME>
            <CODE>016</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>France</NAME>
            <CODE>022</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Lithuania</NAME>
            <CODE>020</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bosnia and Herzegovina</NAME>
            <CODE>048</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Union Of Soviet Socialist Rep</NAME>
            <CODE>042</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Niger</NAME>
            <CODE>176</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Rwanda</NAME>
            <CODE>179</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Bangladesh</NAME>
            <CODE>212</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Barbados</NAME>
            <CODE>610</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Nicaragua</NAME>
            <CODE>546</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Norway</NAME>
            <CODE>032</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Botswana</NAME>
            <CODE>153</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Macao</NAME>
            <CODE>261</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Denmark</NAME>
            <CODE>017</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Dominican Republic</NAME>
            <CODE>651</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Mexico</NAME>
            <CODE>501</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Uganda</NAME>
            <CODE>136</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Suriname</NAME>
            <CODE>752</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Greenland</NAME>
            <CODE>521</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Saint Helena</NAME>
            <CODE>915</CODE>
        </COUNTRY>
        <COUNTRY>
            <NAME>Antigua And Barbuda</NAME>
            <CODE>621</CODE>
        </COUNTRY>
    </DOBCOUNTRIES>
</CONFIG>